body {
    background-image: url("../images/background.jpg") !important;
    background-size: contain;
    background-size: 100%;
}

.menu_wrapper {
    padding: 0;
}

.menu {
    background-color: white;

    border: lightgray 2px ridge;
    border-radius: 10px;

    margin-top: 5px;
    margin-bottom: 5px;
}

.menu li {
    border-right: lightgray 2px solid;
}

.main_wrapper {
    width: 1200px;
    margin: 0 auto;
    background-color: white;

    border-radius: 10px;
}

footer {
    background-color: white;

    position: fixed;
    left: 0;
    bottom: 0;

    width: 100%;

    padding-top: 20px;
    padding-bottom: 20px;

    border: lightgray 2px solid;
  }

.info_box {
    background-color: white;
}